body
{
	font-family: sans-serif;
	background-image: url(img2.jpg);
	background-color: #fff;
	background-size: cover;
	background-repeat:repeat;

}
.signin
{
	background: rgba(165,82,35,0.7);
	padding: 40px;
	width: 250px;
	margin:auto;
	margin-top: 60px;
	height: 430px;
	margin-left: 180px;
	margin:0 auto;
	margin-top: 70px;
}

form
{
	width: 240px;
	text-align: center;
}

input
{
	width: 240px;
	background: transparent;
	border:none;
	border-bottom: 1px solid #fff;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px;
	transition:border 0.5s;
	outline: none;
}
input[type=button]
{
	border: none;
	width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer; 
}
input[type=button]:hover
{
	color:#fff;
	background-color:black;
}
a
{
	color: yellow;
	text-decoration: blink;
	font
}
a:hover
{
	color:blue;
}
::-ms-input-placeholder
 {
 	text-align: left;
 	color: #FFEBCD;
 	opacity: 0.8;
 }